<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BirdFeed.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BirdFeed.Properties.Settings>
            <setting name="TweetDuration" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="HistorySize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SearchTerm" serializeAs="String">
                <value>pbrockmeyer</value>
            </setting>
            <setting name="RandomValues" serializeAs="String">
                <value>1; 2; 3; 4; 5; 6; 7; 8; 9; 10</value>
            </setting>
            <setting name="RandomValueSeparator" serializeAs="String">
                <value>;</value>
            </setting>
        </BirdFeed.Properties.Settings>
    </userSettings>
</configuration>